* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/steam-train-chugs-through-rural-mountainside-scenery-generative-ai.jpg);
  background-size: cover;
  background-position: center;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
nav .fa-train {
  font-size: 40px;
  cursor: pointer;
  color: #a0e9ff;
  margin-left: 130px;
}
nav ul {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 60px;
}
nav ul li {
  display: inline-block;
  margin: 10px 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
.btn {
  padding: 10px 60px;
  border-radius: 5px;
  background: #a0e9ff;
  cursor: pointer;
  margin-right: 130px;
}
.btn .fa-train-tram {
  font-size: 30px;
}
.btn:hover {
  color: #fff;
}
.content {
  margin-top: 10%;
  color: #fff;
  max-width: 75%;
  padding-left: 130px;
}
.content h1 {
  font-size: 40px;
  font-weight: 600;

}
.content p{
    font-size: 18px;
}
.content form{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    width: 40%;

}
.content form input{
    border: 0;
    outline: 0;
    width: 40%;
    font-size: 16px;
    padding-left: 10px;
}
.content form .btn{
    font-size: 15px;
    padding: 10px 30px;
    margin: 0 0 0 30px;

}